{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> 
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> 
            
</head>
<body>
<hgroup>
    <h4>Login TestRegistration</h4>
</hgroup>

<form method="POST" action="{% url 'Registration' %}">
      {% csrf_token %}
        {% for field in form %}
       
        <div class="group">
            {{ field }}
            {{ field.label_tag }}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
     <button type="submit" class="button buttonBlue">Registration
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
     </button>
  </form>
    <footer>
    <a href="http://www.polymer-project.org/" target="_blank"><img src="https://www.polymer-project.org/images/logos/p-logo.svg"></a>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
  